# Python-related
.venv/
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/

# Hidden folders and files (starting with .)
.DS_Store

# Other folders
out_edf*/
EEG_test_files/
research_sources/
TODOs/

# Files
# EEG/EDF data files - never commit these accidentally
*.edf
*.e
*.eeg
*.png
!docs/*.png
edf_drop
